{% extends 'base.html' %}

{% block content %}

  <form action="" method="POST">
    <div class="row">
        <div class="col">
            <label for="program" class="col-form-label"> Program </label>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Select Program" name="program" required>
                {% for program in ReportSelectData_Program %}
                    <option value="{{program}}">{{program}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="report_type" class="col-form-label"> Report Type </label>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Select Report Type" name="report_type" required>
                {% for report_type in ReportSelectData_Report_Type %}
                    <option value="{{report_type}}">{{report_type}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="severity" class="col-form-label"> Severity </label>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Select Severity" name="severity" required>
                {% for severity in ReportSelectData_Report_Severity %}
                    <option value="{{severity}}">{{severity}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="summary" class="col-form-label">Program Summary</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="summary" name="summary" required>
        </div>
        <div class="col">
            <div class="form-check">
                <label class="col form-check-label" for="reproducible">
                    Reproducible ?
                </label>
            </div>
        </div>
        <div class="col">
            <input class="form-check-input" type="checkbox" id="reproducible" name="reproducible">
        </div>
    </div>

    <div class="mb-3">
        <label for="problem" class="form-label">Problem</label>
        <textarea class="form-control" id="problem" rows="3" name="problem" required></textarea>
    </div>

    <div class="row">
        <div class="col">
            <label for="reported_by" class="col-form-label"> Reported By </label>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Select Reported By" name="reported_by" required>
                {% for reported_by in ReportSelectData_ReportedBy %}
                    <option value="{{reported_by}}">{{reported_by}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="date" class="col-form-label">Date</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="date" name="date" value="{{current_date}}" required>
        </div>
    </div>

    <br/>
    <hr/>
    
    <div class="row">
        <div class="col">
            <label for="area">Area</label>
            <input type="text" class="form-control" name="area">
        </div>
        <div class="col">
            <label for="assigned_to" class="col-form-label"> Assigned To </label>
            <select class="form-select" aria-label="Select Assigned To" name="assigned_to">
                {% for reported_by in ReportSelectData_ReportedBy %}
                    <option value="{{reported_by}}">{{reported_by}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="priority" class="col-form-label"> Priority </label>
            <select class="form-select" aria-label="Select Priority" name="priority" required>
                {% for severity in ReportSelectData_Report_Severity %}
                    <option value="{{severity}}">{{severity}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="resolution">Resolution</label>
            <input type="text" class="form-control" name="resolution">
        </div>
        <div class="col">
            <label for="resolved_by" class="col-form-label"> Resolved By </label>
            <select class="form-select" aria-label="Select Resolved By" name="resolved_by">
                {% for reported_by in ReportSelectData_ReportedBy %}
                    <option value="{{reported_by}}">{{reported_by}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="status">Status</label>
            <select class="form-select" aria-label="Select Status" name="status">
                <option value="open" selected>open</option>
                <option value="close">close</option>
            </select>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-secondary" onclick="redirect('/')">Cancel</button>
        </div>
    </div>

  </form>

{% endblock %}
