{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-between">
        <h1>Bug List</h1>
        <h4>User: {{user}}</h4>
    </div>
    <div class="col">
        <div class="d-flex justify-content-between">
            {% if level > 1 %}
            <button
              type="button"
              class="btn btn-primary btn-lg"
              onclick="redirect('/create')"
            >
                Add Bug
            </button>
            {% endif %}
            {% if status is defined %}
            {% if user == "admin" %}
            <button
                type="button"
                class="btn btn-primary btn-lg"
                onclick="redirect('/users')"
            >
                Users List
            </button>
            <button
                type="button"
                class="btn btn-primary btn-lg"
                onclick="redirect('/programs')"
            >
                List Programs
            </button>
            {% endif %}
            <button
                type="button"
                class="btn btn-primary btn-lg"
                onclick="redirect('/logout')"
            >
                Logout
            </button>
            {% endif %}
        </div>
    </div>
    <br/>
    {% if level > 1 %}
        <form action="" method="POST">
            <div class="row">
                <div class="col">
                    <label>FilterBy_User</label>
                    <select class="form-select" aria-label="Select Severity" name="reported_by">
                        <option selected>Choose...</option>
                        {% for reported in ReportSelectData_ReportedBy %}
                            <option value="{{reported}}">{{reported}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label>FilterBy_Program</label>
                    <select class="form-select" aria-label="Select Severity" name="program">
                        <option selected>Choose...</option>
                        {% for program in ReportSelectData_Program %}
                            <option value="{{program}}">{{program}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label>FilterBy_Severity</label>
                    <select class="form-select" aria-label="Select Severity" name="severity">
                        <option selected>Choose...</option>
                        {% for severity in ReportSelectData_Report_Severity %}
                            <option value="{{severity}}">{{severity}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary" onclick="redirect('/')">Submit</button>
                </div>
            </div>
        </form>
        <div class="col">
            <button type="submit" class="btn btn-secondary" onclick="redirect('/')">Reset</button>
        </div>
        <br/>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Program</th>
                <th scope="col">Report Type</th>
                <th scope="col">Severity</th>
                <th scope="col">Reproducibile</th>
                <th scope="col">Summary</th>
                <th scope="col">Problem</th>
                <th scope="col">Reported By</th>
                <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for bug in bug_model %}
                    <tr>
                        <td>{{bug.id}}</td>
                        <td>{{bug.program}}</td>
                        <td>{{bug.report_type}}</td>
                        <td>{{bug.severity}}</td>
                        <td>{{bug.reproducible}}</td>
                        <td>{{bug.summary}}</td>
                        <td>{{bug.problem}}</td>
                        <td>{{bug.reported_by}}</td>
                        <td>{{bug.date}}</td>
                        {% if user == "admin" %}
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-warning"
                                    onclick="redirect('/{{bug.id}}/update')"
                                >
                                Update
                                </button>
                            </td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    onclick="redirect('/{{bug.id}}/delete')"
                                >
                                Delete
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No Access to Database</h2>
    {% endif %}
{% endblock %}