{% extends 'base.html' %}

{% block content %}

  <form action="" method="POST">
    <div class="row">
        <div class="col">
            <label for="program" class="col-form-label"> Program </label>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Select Program" name="program">
                <option selected>{{bug_model.program}}</option>
                {% for program in ReportSelectData_Program %}
                    {% if program != bug_model.program %}
                        <option value="{{program}}">{{program}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="report_type" class="col-form-label"> Report Type </label>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Select Report Type" name="report_type">
                <option selected>{{bug_model.report_type}}</option>
                {% for report_type in ReportSelectData_Report_Type %}
                    {% if report_type != bug_model.report_type %}
                        <option value="{{report_type}}">{{report_type}}</option>
                        {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="severity" class="col-form-label"> Severity </label>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Select Severity" name="severity">
                <option selected>{{bug_model.severity}}</option>
                {% for severity in ReportSelectData_Report_Severity %}
                    {% if severity != bug_model.severity %}
                        <option value="{{severity}}">{{severity}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="summary" class="col-form-label">Program Summary</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="summary" name="summary" value="{{bug_model.summary}}">
        </div>
        <div class="col">
            <div class="form-check">
                <label class="col form-check-label" for="reproducible">
                    Reproducible ?
                </label>
            </div>
        </div>
        <div class="col">
            <input class="form-check-input" type="checkbox" id="reproducible" name="reproducible">
        </div>
    </div>

    <div class="mb-3">
        <label for="problem" class="form-label">Problem</label>
        <textarea class="form-control" id="problem" rows="3" name="problem">{{bug_model.problem}}</textarea>
    </div>

    <div class="row">
        <div class="col">
            <label for="reported_by" class="col-form-label"> Reported By </label>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Select Reported By" name="reported_by">
                <option selected>{{bug_model.reported_by}}</option>
                {% for reported_by in ReportSelectData_ReportedBy %}
                    {% if reported_by != bug_model.severity %}
                        <option value="{{reported_by}}">{{reported_by}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="date" class="col-form-label">Date</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="date" name="date" value="{{bug_model.date}}">
        </div>
    </div>

    <br/>
    <hr/>
    
    <div class="row">
        <div class="col">
            <label for="area">Area</label>
            <input type="text" class="form-control" name="area" value="{{bug_model.area}}">
        </div>
        <div class="col">
            <label for="assigned_to" class="col-form-label"> Assigned To </label>
            <select class="form-select" aria-label="Select Assigned To" name="assigned_to">
                <option selected>{{bug_model.assigned_to}}</option>
                {% for reported_by in ReportSelectData_ReportedBy %}
                    {% if reported_by != bug_model.assigned_to %}
                        <option value="{{reported_by}}">{{reported_by}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="priority" class="col-form-label"> Priority </label>
            <select class="form-select" aria-label="Select Priority" name="priority" required>
                <option selected>{{bug_model.priority}}</option>
                {% for severity in ReportSelectData_Report_Severity %}
                    {% if reported_by != bug_model.priority %}
                        <option value="{{severity}}">{{severity}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="resolution">Resolution</label>
            <input type="text" class="form-control" name="resolution" value="{{bug_model.area}}">
        </div>
        <div class="col">
            <label for="resolved_by" class="col-form-label"> Resolved By </label>
            <select class="form-select" aria-label="Select Resolved By" name="resolved_by">
                <option selected>{{bug_model.resolved_by}}</option>
                {% for reported_by in ReportSelectData_ReportedBy %}
                    {% if reported_by != bug_model.resolved_by %}
                        <option value="{{reported_by}}">{{reported_by}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="status">Status</label>
            <select class="form-select" aria-label="Select Status" name="status">
                <option value="open">open</option>
                <option value="close">close</option>
            </select>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-secondary" onclick="redirect('/')">Cancel</button>
        </div>
    </div>
  </form>

{% endblock %}
