{% extends 'base.html' %}

{% block content %}
    <h1>Users List</h1>
    <div class="d-flex justify-content-between">
        <h4>User: {{user}}</h4>
    </div>
    <div class="col">
        <div class="d-flex justify-content-between">
            {% if status is defined %}
            {% if level > 1 %}
            <button
                type="button"
                class="btn btn-primary btn-lg"
                onclick="redirect('/create_user')"
            >
                Create User
            </button>
            {% endif %}
            <button
                type="button"
                class="btn btn-primary btn-lg"
                onclick="redirect('/logout')"
            >
                Logout
            </button>
            {% endif %}
        </div>
    </div>
    {% if level > 1 %}
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Login ID</th>
                <th scope="col">Level</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                    <tr>
                        <td>{{u.id}}</td>
                        <td>{{u.user}}</td>
                        <td>{{u.login_id}}</td>
                        <td>{{u.level}}</td>
                        {% if user == "admin" %}
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-warning"
                                    onclick="redirect('user/{{u.id}}/update')"
                                >
                                Update
                                </button>
                            </td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-danger"
                                    onclick="redirect('user/{{u.id}}/delete')"
                                >
                                Delete
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No Access to Database</h2>
    {% endif %}
{% endblock %}